body {
    margin: auto;
    width: 60%;
}

header {
    display: flex;
    justify-content: center;
    background-color: blue;
    color: aliceblue;
    text-align: center;
}

header ul li {
    list-style: none;
}

section form ul li {
    list-style: none;
}

section form ul li {
    font-size: 22px;
}

section {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    font-size: medium;
}